header {
    border: 2mm;
    color: black;
    height: 2cm;
}

p,h1,h2,h3,h4,h5,h6 {
    font-family: Verdana;
}

input#ai.translate {
    border: 0cm;
    background-color: black;
    color: white;
}